{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<title>DjangoNews</title>

<meta name="keywords" content="" />
<meta name="description" content="" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="google-site-verification" content="tqwDZmL3X1qCbrAa7W7H2hPy9A_rPvSpsSimpNe-QRU" />
<meta name="baidu-site-verification" content="bqFmh9UKxt" />

<!--[if lt IE 9]>
<script type="text/javascript" src="../static/layout/plugins/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="{% static 'layout/style.css' %}" type="text/css" />

<script type="text/javascript" src="../static/js/jquery.min.js"></script>


<!-- Calendar start -->
<link rel="stylesheet" href="../static/layout/plugins/calendar/calendar.css" type="text/css" />
<script type="text/javascript" src="../static/layout/plugins/calendar/calendar.js"></script>
<!-- Calendar end -->


<!-- MediaElements start -->
<link rel="stylesheet" href="../static/layout/plugins/video-audio/mediaelementplayer.css" />
<script src="../static/layout/plugins/video-audio/mediaelement-and-player.js"></script>
<!-- MediaElements end -->

<!-- FlexSlider start -->
<link rel="stylesheet" href="../static/layout/plugins/flexslider/flexslider.css" type="text/css" />
<script type="text/javascript" src="../static/layout/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- FlexSlider end -->

<!-- bootstrap start -->
<link rel="stylesheet" href="../static/layout/bootstrap.css" type="text/css" />
<script type="text/javascript" src="../static/layout/js/bootstrap.js"></script>
<!-- bootstrap end -->

<!-- jQuery Form Plugin start -->
<script type="text/javascript" src="../static/layout/plugins/ajaxform/jquery.form.js"></script>
<!-- jQuery Form Plugin end -->

<script type="text/javascript" src="../static/layout/js/main.js"></script>

<script type="text/javascript">
	jQuery(function () {
	});
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
	<div class="wrapper sticky_footer">
    	<!-- HEADER BEGIN -->
        <header>
            <div id="header">
            	<section class="bottom">
                	<div class="inner">
                    	<div id="logo_top"><a href=""><img src="../static/images/logo_top.png" alt="Django" title="Django" /></a></div>
                        
                        <div class="block_today_date">
                        	<div class="num"><p id="num_top" /></div>
                            <div class="other">
                            	<p class="month_year"><span id="month_top"></span>, <span id="year_top"></span></p>
                                <p id="day_top" class="day" />
                            </div>
                        </div>

                        <div class="fr">
                            <div class="block_languages"></div>
                            <div class="block_search_top">
                            	<form action="{% url 'index' %}" />
                                	<div class="field"><input type="text" class="w_def_text" placeholder="Search" name="keywords"/></div>
                                    <input type="submit" class="button" value="Search" />
                                    <div class="clearboth"></div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="clearboth"></div>
                    </div>
                </section>

                <section class="section_main_menu">
                	<div class="inner">
                    	<nav class="main_menu">
                        	<ul>
								<li><a href="/">Home</a></li>
							  	<li><a href="{% url 'category' %}?category=1">Django</a></li>
							  	<li><a href="{% url 'category' %}?category=2">Python</a></li>
							  	<li><a href="{% url 'category' %}?category=3">Web</a></li>
                                <li><a href="{% url 'category' %}?category=4">DB</a></li>
                                <li><a href="{% url 'category' %}?category=5">Java</a></li>
                                <li><a href="{% url 'category' %}?category=6">Others</a></li>
							  	<li><a href="{% url 'about' %}">About Us</a></li>
						     </ul>
						</nav>
                    </div>
                </section>
            </div>
        </header>
    	<!-- HEADER END -->
        
        <!-- CONTENT BEGIN -->
        <div id="content" class="right_sidebar">
        	<div class="inner">
            	<div class="general_content">
                    {% block blog_left_content %}{% endblock %}
                    <!-- sidebar BEGIN -->
                    <div class="sidebar">

                      <div class="separator" style="height:31px;"></div>

                        <div class="block_popular_posts">
                        	<h4>Popular Articles</h4>
                            <div class="line_4" style="margin-bottom: 10px"></div>
                            {% for article in article_click_list %}
                        	<div class="article">
								<div class="text">
									<p class="title"><a href="{% url 'article' %}?id={{ article.id }}">{{ article.title }}</a></p>
									<div class="date"><p>{{ article.date_publish | date:'d-M-y' }}</p></div>
								</div>
							</div>
							<div class="line_3"></div>
                            {% endfor %}
                        </div>

                        <div class="separator" style="height:31px;"></div>

                        <div class="block_popular_posts">
                        	<h4>Recommend</h4>

                            <div class="line_4" style="margin-bottom: 10px"></div>
                            {% for article in article_recommend_list %}
                        	<div class="article">
								<div class="text">
									<p class="title"><a href="{% url 'article' %}?id={{ article.id }}">{{ article.title }}</a></p>
									<div class="date"><p>{{ article.date_publish | date:'d-M-y' }}</p></div>
								</div>
							</div>
							<div class="line_3"></div>
                            {% endfor %}
                        </div>

                        <div class="separator" style="height:31px;"></div>

                        <div class="block_calendar">
                        	<h4>Calendar</h4>

                            <div class="calendar" id="calendar_sidebar">
                            </div>

                            <script type="text/javascript">
								var today = new Date();
								var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
								$('#calendar_sidebar').DatePicker({
									flat : true,
									date : date,
									calendars : 1,
									starts : 1,
									locale : {
										days : ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
										daysShort : ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
										daysMin : ['S', 'M', 'T', 'W', 'T', 'F', 'S', 'S'],
										months : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
										monthsShort : ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
										weekMin : 'wk'
									}
								});
							</script>

                            <div class="line_2"></div>
                        </div>

                        <div class="separator" style="height:31px;"></div>
                        <div class="separator" style="height:31px;"></div>

                        <div class="block_popular_stuff">
                        	<h4>Friends</h4>
                            <div class="content" style="margin-bottom: 20px">
                                <div style="float: left;margin-right: 20px">
                                    <a href="http://songzuwen.cc"><img style="width: 100px;height: 110px" src="../static/images/zuwen.jpg" class="img-circle" alt="" /></a>
                                    <p class="date">Girl Killer</p>
                                </div>
                                <div style="float: left;margin-right: 20px">
                                    <a href="http://www.szlhpg.com/ShenZhen/"><img style="width: 100px;height: 110px" src="../static/images/zhouhuan.png" class="img-circle" alt="" /></a>
                                    <p class="date">Tree Monkey</p>
                                </div>
                                <div style="float: left;margin-right: 30px">
                                    <a href="http://www.javaxxw.cn/"><img style="width: 100px;height: 110px" src="../static/images/tuyong.jpg"  class="img-circle" alt="" /></a>
                                    <p class="date">JAVA Master</p>
                                </div>
                            </div>
                            <div class="clearboth"></div>

                        </div>

                      	<div class="separator" style="height:31px;"></div>


                    </div>
                    <!-- sidebar END -->
                	<div class="clearboth"></div>
                </div>
            </div>
        </div>
    	<!-- CONTENT END -->
        <div class="footer-bottom">
            <p>Copyright&copy;2017 zhangpp 个人博客 All Rights Reserved. 闽ICP备16006165号-3</p>
        </div>
        </div>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93480696-1', 'auto');
  ga('send', 'pageview');

</script>

</html>